In [1]:
import pandas as pd
import numpy as np

In [2]:
friends=pd.read_csv('./intellect/friends.csv')

In [3]:
foes=pd.read_csv('./intellect/foes.csv')

In [4]:
scores=pd.read_csv('./intellect/scores.csv')

In [5]:
friends.head()

             person1            person2
0  441e08b1_a0431c52  404021bf_898326ec
1  3f4929ef_956613b7  d6031447_a684b614
2  1f75eb7f_e1d4405b  5ccf7530_5343d32b
3   9b6edd00_179def5  e7d1222f_49ff1c63
4  130181c4_27cb3b23  536c3152_db65659b

In [6]:
friends=friends.rename(columns={'person2':'friend'})

In [7]:
foes.head()

             person1            person2
0  1a78a273_69afff35  cbbb389d_6c185226
1  b49793f1_89131c25  528b6768_4cfc6dfc
2  dae7f2ef_a0eb0f08  f855223d_12422aaf
3   653464a_6d49face  7ac0271c_3677a2d6
4  ae33fd68_8c646d91  b66507c7_44b175d3

In [8]:
foes=foes.rename(columns={'person2':'foe'})

In [9]:
relations=pd.merge(friends,foes,on='person1',how='inner')

In [10]:
relations.head()

             person1             friend                foe
0  3f4929ef_956613b7  d6031447_a684b614  28858cce_80969575
1  3f4929ef_956613b7  d6031447_a684b614  726e8316_87757b02
2  3f4929ef_956613b7  d6031447_a684b614  f46c3323_43363b22
3  3f4929ef_956613b7  d6031447_a684b614  d95f49c1_abefbf21
4  3f4929ef_956613b7  d6031447_a684b614  f03a565d_ae84d384

In [11]:
scores.head()

           person id  score
0  1122b7d5_ed317db7     -2
1  b0177400_be9028c7     -2
2  77ac4e2a_77109d8c     -1
3   49ca4e7d_2eb499f      2
4  9e4a7320_9ebed277     -2

In [12]:
scores=scores.rename(columns={'person id':'person1'})

In [13]:
relations=pd.merge(relations,scores,on='person1',how='inner')

In [14]:
relations.head()

             person1             friend                foe  score
0  556ba434_c0ca2371  c38d1b99_3d61be1a  21db496f_e85c2b8a     -2
1  556ba434_c0ca2371  c38d1b99_3d61be1a  6ef90ad9_8bda5830     -2
2  556ba434_c0ca2371  c38d1b99_3d61be1a  9d664ed5_59e02574     -2
3  556ba434_c0ca2371  c38d1b99_3d61be1a  16544885_499ee510     -2
4  556ba434_c0ca2371  c38d1b99_3d61be1a  5520371e_b8c6eb15     -2

In [15]:
unlikely_friend=relations[relations.person1==relations.friend]
unlikely_foe=relations[relations.person1==relations.foe]

In [16]:
unlikely_friend=unlikely_friend.reset_index(drop=True)
unlikely_foe=unlikely_foe.reset_index(drop=True)

In [17]:
unlikely_friend.head()

            person1            friend                foe  score
0  7295669_c50f4599  7295669_c50f4599  1f810a2f_7daa795f     -2
1  7295669_c50f4599  7295669_c50f4599  589e1eb5_94ccd822     -2
2  7295669_c50f4599  7295669_c50f4599  a74d1499_2864adca     -2
3  7295669_c50f4599  7295669_c50f4599  2511a7e7_b685a14c     -2
4  7295669_c50f4599  7295669_c50f4599  e6c591da_7c3aa3df     -2

In [18]:
unlikely_foe.head()

             person1             friend                foe  score
0  428d7973_93c5e9be  95c0ff70_cfa0c123  428d7973_93c5e9be     -1
1  428d7973_93c5e9be  b96c03cc_67baa859  428d7973_93c5e9be     -1
2  428d7973_93c5e9be   611ee08a_ef50b7d  428d7973_93c5e9be     -1
3  428d7973_93c5e9be  3f3e76da_ac5f8ec8  428d7973_93c5e9be     -1
4  428d7973_93c5e9be  3c82c49b_bdcde8f2  428d7973_93c5e9be     -1

In [19]:
len(unlikely_friend.index)

369

In [20]:
len(unlikely_foe.index)

73

In [21]:
unlikely_relation=relations[relations.friend==relations.foe]

In [22]:
len(unlikely_relation.index)

42

In [23]:
unlikely_relation=unlikely_relation.reset_index(drop=True)

In [24]:
list(unlikely_relation.friend.head(9))

['236e4ff5_b0b1c46a',
 'feaab7ff_e1b801ad',
 '66a2770c_34cd2822',
 'c855abb4_a2923e20',
 'e586f515_fa854ee5',
 '8509d089_963b716e',
 '21cf5865_9d9ce6ba',
 'd4099e2_76f0a887',
 '6ef90ad9_8bda5830']

In [25]:
unlikely_foe.person1.unique()

array(['428d7973_93c5e9be'], dtype=object)

In [26]:
unlikely_friend.person1.unique()

array(['7295669_c50f4599', 'b3f834fe_cd3e9607', '8764a06f_b414bfe2',
       '86272b49_1e53876d', '7f2ca170_f4802921', '9a052fea_4dd58d63',
       'd835c243_83f3d6ad', 'c8dd2d02_a9ab9b5a', '19f1fc75_a3df0ed1'],
      dtype=object)

In [27]:
unlikely_relation.friend.unique()

array(['236e4ff5_b0b1c46a', 'feaab7ff_e1b801ad', '66a2770c_34cd2822',
       'c855abb4_a2923e20', 'e586f515_fa854ee5', '8509d089_963b716e',
       '21cf5865_9d9ce6ba', 'd4099e2_76f0a887', '6ef90ad9_8bda5830',
       '48da89f6_55c7495', 'cb0c9599_be6b5297', 'a430d350_380266f3',
       '47c95386_f75c08aa', 'e9a31f1e_2e2f8980', 'afe28fd8_ae1c3f96',
       'c6dcf1ad_a047f1b6', '4ef00044_557c7c45', 'ad0d764f_9c7f8847',
       '5fa54145_ca4f5564', '42054c01_bd9e09f9', '6c4bfad1_9c9043e',
       '74a25e3f_bd77f9d3', '805a3244_aaf74aa2', 'a8a32a9f_ae184492',
       '80c84e2_15b72700', 'ecd9d1f5_406aeaca', 'fa15549f_c9089e92',
       'f9f0b87f_7dc4989d', '2ea9f36d_a5808bf0', '13d1af32_93b2abce',
       '71b351d6_14f10db6', 'cd44da1b_345abf5c', '7a3d8d5f_9c45adbe',
       'ff232b31_ce3e2b9c'], dtype=object)

In [28]:
person_score=relations.rename(columns={'score':'person_score'})

In [29]:
scores=scores.rename(columns={'person1':'foe','score':'foe_score'})

In [30]:
scores.head()

                 foe  foe_score
0  1122b7d5_ed317db7         -2
1  b0177400_be9028c7         -2
2  77ac4e2a_77109d8c         -1
3   49ca4e7d_2eb499f          2
4  9e4a7320_9ebed277         -2

In [31]:
person_score=pd.merge(person_score,scores,on='foe',how='inner')

In [32]:
person_score.head()

,person1,friend,foe,person_score,foe_score
0,556ba434_c0ca2371,c38d1b99_3d61be1a,21db496f_e85c2b8a,-2,2
1,556ba434_c0ca2371,5f1b2a2c_bd42f449,21db496f_e85c2b8a,-2,2
2,556ba434_c0ca2371,7b313367_90a034e1,21db496f_e85c2b8a,-2,2
3,556ba434_c0ca2371,590acad0_14c8d3ca,21db496f_e85c2b8a,-2,2
4,556ba434_c0ca2371,70bb276f_92564e59,21db496f_e85c2b8a,-2,2

In [33]:
scores=scores.rename(columns={'foe':'friend','foe_score':'friend_score'})

In [34]:
person_score=pd.merge(person_score,scores,on='friend',how='inner')

In [35]:
person_score.head()

,person1,friend,foe,person_score,foe_score,friend_score
0,556ba434_c0ca2371,4ed42ead_334bd0fc,21db496f_e85c2b8a,-2,2,1
1,556ba434_c0ca2371,4ed42ead_334bd0fc,6ef90ad9_8bda5830,-2,-2,1
2,556ba434_c0ca2371,4ed42ead_334bd0fc,16544885_499ee510,-2,-3,1
3,556ba434_c0ca2371,4ed42ead_334bd0fc,c4a4c0e6_c3ac6729,-2,3,1
4,3aef501a_80351c26,4ed42ead_334bd0fc,c4a4c0e6_c3ac6729,-1,3,1

In [36]:
def filter(i):
        if i>0:
            return(1)
        else:
            return(0)

In [37]:
person_score.person_score=person_score.person_score.apply(lambda x:filter(x))
person_score.foe_score=person_score.foe_score.apply(lambda x:filter(x))
person_score.friend_score=person_score.friend_score.apply(lambda x:filter(x))

In [38]:
person_score.head()

,person1,friend,foe,person_score,foe_score,friend_score
0,556ba434_c0ca2371,4ed42ead_334bd0fc,21db496f_e85c2b8a,0,1,1
1,556ba434_c0ca2371,4ed42ead_334bd0fc,6ef90ad9_8bda5830,0,0,1
2,556ba434_c0ca2371,4ed42ead_334bd0fc,16544885_499ee510,0,0,1
3,556ba434_c0ca2371,4ed42ead_334bd0fc,c4a4c0e6_c3ac6729,0,1,1
4,3aef501a_80351c26,4ed42ead_334bd0fc,c4a4c0e6_c3ac6729,0,1,1

In [39]:
amb_foe=person_score[person_score.person_score==person_score.foe_score]

In [40]:
amb_foe=amb_foe.drop(columns=['friend','person_score','foe_score','friend_score'])

In [41]:
amb_friend=person_score[person_score.person_score!=person_score.friend_score]

In [42]:
amb_friend=amb_friend.drop(columns=['foe','person_score','foe_score','friend_score'])

In [43]:
amb_foe=amb_foe.drop_duplicates().reset_index(drop=True)
amb_foe.head()

             person1                foe
0  556ba434_c0ca2371  6ef90ad9_8bda5830
1  556ba434_c0ca2371  16544885_499ee510
2  556ba434_c0ca2371   48da89f6_55c7495
3  556ba434_c0ca2371   d4099e2_76f0a887
4  4ed42ead_334bd0fc  3d54f335_c9d0e769

In [44]:
amb_friend=amb_friend.drop_duplicates().reset_index(drop=True)
amb_friend.head()

             person1             friend
0  556ba434_c0ca2371  4ed42ead_334bd0fc
1  3aef501a_80351c26  4ed42ead_334bd0fc
2  556ba434_c0ca2371  b327c470_4f59511d
3  556ba434_c0ca2371  73904ed7_bdd6c067
4   968af9e_80720411  73904ed7_bdd6c067

In [45]:
len(amb_friend)

1019

In [46]:
len(amb_foe)

782

In [47]:
amb1=pd.DataFrame(amb_friend.person1)
amb2=pd.DataFrame(amb_foe.person1)

In [48]:
amb=amb1.loc[amb1.person1.isin(amb2.person1)]

In [49]:
amb=amb.drop_duplicates().reset_index(drop=True)

In [50]:
len(amb.index)

193

In [51]:
amb.head(9)

             person1
0  556ba434_c0ca2371
1   968af9e_80720411
2  6826eae0_1a72ca12
3   bb6c0b99_3b496b3
4  6113a845_872757cc
5  428d7973_93c5e9be
6  52907b87_aa3e7910
7  307c710a_b3835244
8  38471523_fe405283